@charset "utf-8";
.card-body .d-flex.justify-content-center.gap-2 .btn.btn-outline-secondary {
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,132,132,1.00) 55.44%,rgba(255,0,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,132,132,1.00) 55.44%,rgba(255,0,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,132,132,1.00) 55.44%,rgba(255,0,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,132,132,1.00) 55.44%,rgba(255,0,0,1.00) 100%);
}
